<div class="main-container">
    <div class="top-main">
        <div class="main-title">
            <h3>Do you want to change some informations?</h3>
        </div>
        <div class="wrong">

            {{wrong}}
        </div>
    </div>

    <div class="register-main">
        <form method="post" class="row-three">
            <input
                class="input"
                type="text"
                name="firstName"
                placeholder="First Name"
                value="{{firstName}}"
                autocomplete="off"
            />
            <input
                class="input"
                type="text"
                name="lastName"
                placeholder="Last Name"
                value="{{lastName}}"
                autocomplete="off"
            />
            <input
                class="input"
                type="email"
                name="email"
                placeholder="Email"
                value="{{email}}"
                autocomplete="off"
            />
            <input
                class="input"
                type="Password"
                name="password"
                placeholder="Password"
                autocomplete="off"
            />
            <input
                class="input"
                type="text"
                name="city"
                placeholder="City"
                value="{{city}}"
                autocomplete="off"
            />
            <input
                class="input"
                type="number"
                name="age"
                placeholder="Age"
                value="{{age}}"
                autocomplete="off"
            />
            <input
                class="input"
                type="text"
                name="url"
                placeholder="https:// <== start with"
                value="{{url}}"
                autocomplete="off"
            />
            <input type="hidden" name="_csrf" value="{{csrfToken}}" />

            <button id="inputBtn" class="updateBTN">UPDATE</button>

        </form>
        <form method="post" action="/delete-signature">
            <input type="hidden" name="_csrf" value="{{csrfToken}}" />

            <button id="inputBtn" class="deleteBTNsign">DELETE YOUR SIGNATURE</button>
        </form>

        <form method="post" action="/delete-account">
            <input type="hidden" name="_csrf" value="{{csrfToken}}" />

            <button id="inputBtn" class="deleteBTNaccount">DELETE ACCOUNT</button>
        </form>

        {{wrong}}

    </div>
</div>