<div class="main-container">
    <div class="main-title">
        <h1>List of all the Signers:
        </h1>
        <div class="results">
            <h6 class="signers">FIRST and LAST NAME ( AGE, CITY )</h6>
        </div>
    </div>
    <section id="signers">

        {{#results}}
            <div class="results">

                <h6 class="signers">{{first}}
                    {{last}}
                    ({{age}},
                    <a class="signersLink" href="signers/{{city}}">

                        {{city}}
                    </a>)</h6>

            </div>
        {{/results}}

    </section>

</div>