<div class="main-container">
    <div class="main-title">
        <h1>HERE IS THE LIST OF THE SIGNERS
        </h1>
    </div>
    <section id="signers">
        {{#results}}
            <div class="results">

                <h6 class="signers">{{first}}
                    {{last}}
                    ({{age}},
                    <a class="signersLink" href="signers/{{city}}">
                        {{city}}
                    </a>)</h6>

            </div>
        {{/results}}

    </section>

</div>